#fbb_tbl {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px #dddddd;
}
.tbl_td_input{
	width:95% !important;
	padding:2% !important;
}
.label_element{
	margin-left:20%;
	margin-top:7%; 
	color:#3A5795 !important;
}
.table_style{
	margin-top:10% !important;
	margin-right:auto !important;
	margin-bottom:22% !important;
	margin-left:40% !important; 
	background: #FFFFFF !important;
	padding: 2% 1% 1% 1% !important;
	padding-top: 1% !important;
	font-size:12px !important;
}
.submit_custom_style{
	background-color:#85BA12 !important; 
	color:#FFFFFF !important;
}
.cancel_custom_style{
	background-color:#FF3737 !important; 
	color:#FFFFFF !important;
}
.heading_style{
	font-size: 160% !important;
	color:#3A5795 !important;
}
.label_margin{
	margin:2%;
}
.saved_success{
	margin-left:6%;
	color:green !important;
	font-weight:bold !important;
	font-style:italic !important;
}
.td_custom_style{
	padding-top: 3% !important;
	padding-left: 55% !important;
}
.link_custom_style{
	text-decoration:none !important;
}
