#mainBody  {
	margin:15px;
}
#mainData {
	margin:15px;
}
#DataHeader {

}
.Pagination{
	margin: 0 auto; 
    text-align: right;
}
.Pagination button{
	padding: 0;
border: none;
background: none;

}
#TitleReport {
	margin-bottom:15px;
}
#SearchPanel {
	background-color:#f6f6f6;
}

div , table, td, tr{
font-family:Arial,Verdana,Helvetica,sans-serif;
}
h2{
font-family:Arial,Verdana,Helvetica,sans-serif;
}
label {
	font-family:Calibri;
	font-size:12px;
        
}
button {
    font-family:Calibri;
  font-size: 12px ;
}
input {
    font-family:Calibri;
  font-size: 12px ;
}
select {
    font-family:Calibri;
  font-size: 12px;
}
select option:first-child {
    font-family:Calibri;
  font-size: 12px ;
  
}
div {
    font-family:Calibri;
  font-size: 12px  ;
}

th {
    text-align:left;
    padding-left:3px;
     padding-right:3px;
    border-bottom:1px solid #cbdae6;
    
    border-left:1px solid #cbdae6;
}
#table_data td {
 border-bottom: 1px solid #cbdae6;
 padding-left:3px;
 padding-right:3px;
 border-left:1px solid #cbdae6;
}
#table_data {
    
    border-right: 1px solid #cbdae6;
    border-top: 1px solid #cbdae6;
}
#imageLoading 
{
    background: url("loading.gif") no-repeat  center center ;
    background-color:rgba(0,0,0,.5);
    filter: alpha(opacity 50);
    display: none;
    height:     100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
