.sticky{  
    
    position: fixed;
    left: 3.6%;
    top: 40px;
    right: 10%;
/*
    border-bottom: 1px solid #ccc;
*/
/*
    width: 100%;
*/
   
/*
   border-spacing: 200px;
*/
   background-color: white;
   text-align: center;
   

 }

.view tr{
  border-spacing: 91.5px 0;
  border-collapse: separate;
  
  width: 100%;

}

.roled{

margin-right: 70px;
color: black;
font-size: 12.5px;


}

.white{
color: black;
margin-left: 35px;
font-size: 12.5px;

}
.blue{
color: black;
font-size: 12.5px;

}
.orange{
color: black;
font-size: 12.5px;

}
.pink{
color: black;
font-size: 12.5px;

}
.red{
color: black;
font-size: 12.5px;

}
.grey{
color: black;
font-size: 12.5px;

}
.violet{
color: black;
font-size: 12.5px;

}
